/* Global Styling */
:root { /* light mode*/
    --clr-modetext: rgb(40, 38, 38);
    --clr-navbar: rgb(244, 244, 233); 
    --clr-mainbody: rgb(255, 255, 255); 
    --clr-projects: rgb(223, 212, 197); 
    --clr-contactme: rgb(205, 194, 177); 
    --clr-skillsborder: rgb(90, 89, 87); 
    --clr-buttonhover: rgb(216, 200, 169); 
}

.dark-mode { /* dark mode */
    --clr-navbar: rgb(40, 39, 39);
    --clr-mainbody: rgb(51,51,51);
    --clr-projects: rgb(67, 67, 67);
    --clr-contactme:rgb(40, 39, 39);
    --clr-modetext: rgb(199, 199, 199);
    --clr-skillsborder: rgb(36, 35, 35);
    --clr-buttonhover: rgb(27, 27, 25); 
}

/* {
    border: dotted red 1px !important;
}*/

p, h1, h2, h3, h4, h5, h6, a, button {
    color: var(--clr-modetext);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--clr-mainbody);
}

/* Navigation Section */
#nav-bar {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    position: fixed;
    top: 0px;
    height: 4rem;
    width: 100%;
    margin: 0px;
    background-color: var(--clr-navbar);
}

#nav-bar button {
    border-radius: 0.2rem;
    background-size: cover;
    background-color: var(--clr-projects);
    font-size: 0.6rem;
    color: var(--clr-modetext);
    opacity: 0.9;
    cursor: pointer;
    width: 3.9rem;
    align-self: center;
    justify-self: center;
    height: 1.8rem;
    border: solid var(--clr-contactme) 1px;
    box-shadow: 2px 2.5px #999;
}

#nav-bar button:hover {
    background-color: var(--clr-buttonhover) !important;
}

#nav-bar button:active {
  box-shadow: 1px 2px #666;
  transform: translateY(1px);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(./images/dark-theme-icon-512x512-185rlszm.png);
    background-size: cover;
    border-radius: 50%;
    border: none;
}
  
#nav-bar h3 {
    font-weight: 900;
    width: 30%;
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
}

#nav-bar #nav-right {
    display: inline;
    list-style-type: none;
    width: 53%;
}

#nav-bar #nav-right li{
    display: inline;
    margin-right: 5%;
    float: right;
    width: auto;
    margin: 1.5%;
}

#nav-bar #nav-right li a {
    color: var(--clr-modetext);
}

/* About Me Section */

#about-me h5 {
    margin: 0.2rem;
}

 #about-me {
    display: flex;
    justify-items: center;
    margin-top: 4.9rem;
    margin-left: 0.6rem;
 }

 #image-container {
    max-width: 40%;
    display: flex;
    align-items: center;
 }
 
 #image-container img {
    width: 100%;
    height: min-content;
 }

 /* My Projects Section */

#my-projects #projects-container .projects-desc-box {
    height: 8rem;
    width: 100%;
}

#my-projects #projects-container .projects-desc-box h5 {
    height: 6rem;
}

#my-projects #projects-container .HTML-logo {
    width: 70%;
    height: auto;
    object-fit: scale-down;
}

#projects-container .languages-used {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 80%;
    margin: auto;
}

#projects-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

#projects-container div{
    text-align: center;
    width: 30%;
}

#my-projects h2 {
    display: block;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
}

#my-projects {
    text-align: center;
    background-color: var(--clr-projects);
    width: 100%;
}
#my-projects img {
    width: 85%;
}

#my-projects h3 {
    color: var(--clr-modetext);
    font-size: 105%;
    font-weight: 900;
}

/* My Skills Section */

#my-skills .html-logo {
    width: 33%;
    height: auto;
    object-fit: scale-down;
}

#my-skills .javascript-logo {
    height: auto;
    object-fit: scale-down;
    width: 31%;
}

#my-skills .github-logo {
    height: auto;
    object-fit: scale-down;
    width: 32%;
}

#my-skills {
    padding-bottom: 2rem;
    border: solid var(--clr-skillsborder) 2px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#my-skills #skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#my-skills #skills div{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

#my-skills #skills div h4{
    font-size: 0.8rem;
    text-align: center;
}

#my-skills div img{
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

#my-skills #skills #js {
    margin-left: 0.5rem;
}

#my-skills #skills div #gh {
    margin-left: 0.2rem;
}

#my-skills h2 {
    text-align: center;
    margin-top: 1.75rem;
}

/* Contact Me Section */

#contact-me a {
    text-decoration: underline;
    color: var(--clr-modetext);
    font-size: 0.9rem;
    align-self: center;
}

#contact-me {
    max-width: 100%;
    margin-top: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--clr-contactme);
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* Contact Website Section */

/* Back Button Section */
.nav-button {
    width: 6rem;
    height: 3rem;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: solid black 1px;
    box-shadow: 2px 2.5px #999;
}

.nav-button a {
    color: var(--clr-modetext);
}

.nav-button:hover {
    background-color: var(--clr-buttonhover) !important;
}

.nav-button:active {
  box-shadow: 1px 2px #666;
  transform: translateY(1px);
}

.button-top {
    text-align: right;
    margin-right: 8%;
    display: flex;
    justify-content: space-evenly;
}

/* Contact Details Section */ 

#contact-details {
    margin-top: 6rem;
    margin-left: 2rem;

}

#contact-details div {
    display: flex;
    justify-content: left;
    align-content: center;
}

#contact-details div img {
    align-self: center;
    margin-right: 5%;
    max-width: 5%;
}

#copyright {
    margin-left: 70%;
}

/* Details Section */

#details {
    margin: 5% 10%
}

/* Contact Me Nav Section */

#nav-bar2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    position: fixed;
    top: 0px;
    height: 4rem;
    width: 100%;
    margin: 0px;
    background-color: var(--clr-navbar);
}

#nav-bar2 button {
    border-radius: 0.2rem;
    background-size: cover;
    background-color: var(--clr-projects);
    font-size: 0.6rem;
    color: #000000;
    opacity: 0.9;
    cursor: pointer;
    width: 3.9rem;
    align-self: center;
    justify-self: center;
    height: 1.8rem;
    border: solid var(--clr-buttonhover) 1px;
    box-shadow: 2px 2.5px #999;
}

#nav-bar2 button:hover {
    background-color: var(--clr-buttonhover) !important;
}

#nav-bar2 button:active {
  box-shadow: 1px 2px #666;
  transform: translateY(1px);
}
  
#nav-bar2 h3 {
    font-weight: 900;
    width: 30%;
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
}

#nav-bar2 #nav-right {
    display: inline;
    list-style-type: none;
    width: 53%;
}

#nav-bar2 #nav-right li{
    display: inline;
    margin-right: 5%;
    float: right;
    width: auto;
    margin: 1.5%;
}

#nav-bar2 #nav-right li a {
    color: var(--clr-modetext);
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
    #my-projects #projects-container .projects-desc-box {
        height: 15rem !important;
    }
}

@media only screen and (min-width: 750px) {
    #about-me #image-container img{
        max-width: 45%;
    }
    #about-me {
        display: flex;
    }
    #about-me #image-container {
        justify-content: center !important;
    }
    #my-projects #projects-container .projects-desc-box {
        height: 12rem !important;
    }
}

@media only screen and (min-width: 610px) {
    #image-container img{
        max-width: 75%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 750px) {
    #my-projects #projects-container .projects-desc-box {
        height: 10rem !important;
    }
}

@media only screen and (max-width: 540px) {
    #nav-bar li {
        font-size: 0.85rem;
    }
    #nav-bar h3 {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    #nav-bar #nav-right {
        padding: 0px;
    }
    #my-projects #projects-container .projects-desc-box {
        height: 9rem !important;
    }
    #copyright {
        margin-left: 6
        5%;
    }
  }

  @media only screen and (max-width: 460px) {
    #nav-bar #nav-right li {
        font-size: 1rem;
    }
    #nav-bar #nav-right {
        width: 39% !important;
        margin-right: 1rem;
    }
    #nav-bar {
        height: 5rem !important;
    }
    #my-projects #projects-container .projects-desc-box {
        height: 10rem !important;
        width: 100%;
    }
    
    #my-projects #projects-container .projects-desc-box h5 {
        height: 8rem !important;
    }
    #copyright {
        margin-left: 67%;
    }
  }

  @media only screen and (max-width: 370px) {
    #my-projects #projects-container .projects-desc-box {
        height: 10rem !important;
        width: 100%;
    }
    #my-projects #projects-container .projects-desc-box h5 {
        height: 8rem !important;
    }

    #my-projects #projects-container div {
        width: 16rem !important;
    }
    #my-projects #projects-container div .languages-used {
        max-width: 20%;
    }
    #my-projects #projects-container .projects-desc-box {
        height: 8rem !important;
        width: 100%;
    }
    
    #my-projects #projects-container .projects-desc-box h5 {
        height: 3rem !important;
  }

  #my-skills #skills div #js {
    margin-left: 0.2rem;
  }
  #copyright {
    margin-left: 61%;
  }
}

  @media only screen and (max-width: 360px) {
    #nav-bar #nav-right {
        width: 25% !important;
        margin-right: 1rem;
    }
    #nav-bar {
        height: 7.6rem !important;
    }
    #about-me {
        margin-top: 8rem !important;
    }
    #my-skills #skills h4 {
        display: none;
    }
    #my-skills #skills div img {
        width: 100%;
    }
    #my-skills #skills div {
        height: 2rem !important;
        width: 4rem !important;
    }
    #my-skills #skills #css-box-skills {
        height: 2rem !important;
        width: 4.9rem !important;
    }

    #my-skills #skills {
        justify-items: space-around !important;
        flex-wrap: nowrap !important;
    }
  }

  @media only screen and (max-width: 328px) {
    #nav-bar #nav-right li {
        font-size: 0.7rem;
    }
    #nav-bar #nav-right {
        width: 20% !important;
    }
    #nav-bar h3 {
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
    }
    #nav-bar {
        justify-content: space-between;
        height: 5.8rem !important;
    }
    #about-me h5 {
        font-size: 0.7rem;
    }
    #copyright {
        margin-left: 50%;
    }
  }

  @media only screen and (max-width: 310px) {
    #nav-bar #nav-right {
        width: 21% !important;
        flex-shrink: 0;
    }
    #nav-bar #mode-switch {
        width: 3rem;
        border-radius: 0.2rem;
        font-size: 0.5rem;
    }
    #my-skills #skills {
        flex-wrap: wrap !important;
    }
    #nav-bar2 #nav-right .button-top .contact-button {
        width: 65%;
    }
    #nav-bar2 #nav-right {
        margin-left: -1rem;
    }
  }

  @media only screen and (max-width: 278px) {
    #nav-bar #nav-right {
        margin-right: 0px;
    }
    #nav-bar {
        justify-content: space-around;
        height: 5.5rem !important;
    }
    #nav-bar #nav-right {
        width: 23% !important;
        flex-shrink: 0;
    }
    #about-me h5 {
        width: 90%;
    }
    #my-projects #projects-container div {
        width: 14rem !important;
    }
    #copyright {
        margin-left: 45%;
    }
  }

  @media only screen and (max-width: 254px) {
    #nav-bar h3 {
        font-size: 1rem !important;
        padding: 0px;
    }
    #nav-bar .non-important-nav {
        display: none !important;
    }
    #nav-bar #nav-right #nav-contact {
        border-radius: 0.1rem;
        width: 2.5rem;
        border: solid var(--clr-buttonhover) 1px;
        text-align: center;
    }
    #nav-bar #nav-right {
        display: flex !important;
        align-content: center;
        justify-content: center;
        height: 2rem;
    }
    #nav-bar {
        align-items: center;
        height: 4rem !important;
    }
    #about-me #image-container {
        display: none !important;
    }
    #my-projects #projects-container div {
        width: 11rem !important;
    }
    #my-projects #projects-container .projects-desc-box {
        height: 7rem !important;
        width: 100%;
    }
    
    #my-projects #projects-container .projects-desc-box h5 {
        height: 4rem !important;
    }
    #my-skills #skills {
        flex-direction: column !important;
        align-content: center !important;
        align-items: center;
    }
    #copyright {
        margin-left: 39%;
    }
    #nav-bar2 #nav-right {
        margin-left: -2rem;
    }
}